<!DOCTYPE html>

<html lang="en" ng-app="socketioApp">
  <head>
    <meta charset="utf-8" />

    <title>Socket.io - Getting Started</title>
    <meta name="description" content="Getting Started with Socket.io" />
    <meta name="author" content="ScottChak" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <style>
      .messageWrapper {
        height: 512px;
        overflow-y: scroll;
        margin: 16px 0px;
        padding: 0px 8px;
      }

      .messageWrapper ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div ng-controller="HomeController as ctrl">
        <div class="row">
          <div class="col-12">
            <h1>Socket.io - Getting Started</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>

                  <input type="text" class="form-control" ng-model="username" ng-readonly="connected" />

                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" ng-click="ctrl.toggleConnect()">
                      {{ connected ? "Disconnect" : "Connect" }}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="messageWrapper border rounded">
                  <ul>
                    <li ng-repeat="message in messages">
                      <strong ng-if="message.username">{{ message.username }}:</strong>
                      <span>{{ message.content }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <input type="text" class="form-control" ng-disabled="!connected" ng-model="messageContent" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" ng-disabled="!connected" ng-click="ctrl.sendMessage()">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" crossorigin="anonymous"></script>

    <script>
      var app = angular.module("socketioApp", []);

      app.controller("HomeController", function($scope) {
        $scope.connected = false;

        $scope.messages = [];

        $scope.username = "";
        $scope.messageContent = "";

        var ctrl = this;

        var isConnected = function() {
          //  EBU: this was more complex earlier on
          return $scope.connected;
        };

        ctrl.connect = function() {
          if ($scope.username.length > 0) {
            socket.emit("connectUser", $scope.username);
            $scope.connected = true;
          }
        };

        ctrl.disconnect = function() {
          if (isConnected()) {
            socket.emit("disconnectUser", $scope.username);
            $scope.connected = false;
            $scope.messageContent = "";
          }
        };

        ctrl.toggleConnect = function() {
          if ($scope.connected) {
            ctrl.disconnect();
          } else {
            ctrl.connect();
          }
        };

        ctrl.sendMessage = function() {
          if (isConnected()) {
            socket.emit("sendMessage", { username: $scope.username, content: $scope.messageContent });
            $scope.messageContent = "";
          }
        };

        ctrl.addMessage = function(message) {
          $scope.messages.push(message);

          //  EBU: Why isn't this automatic ?
          $scope.$apply();
        };

        var socket = io("http://localhost:8082");

        socket.on("receiveMessage", function(message) {
          ctrl.addMessage(message);
        });
      });
    </script>
  </body>
</html>
